.form {
    &-body {
        padding-top: 24px;
        
        &-title {
            @include link-underline($color-primary, 3px);
            cursor: default;

            h1 { 
                color: $color-black-text;
            }
        }

        .input-group {
            @include flex(flex, row, wrap, space-between, center);
            width: 100%;
            margin-bottom: 24px;

            &.half {
                input {
                    width: 49.2%;
                }
            }

            label {
                width: 100%;
                height: auto;
            }
            
            input, button, textarea {
                background-color: $color-background;
                border: 0;
                border-radius: 18px;
                padding: 16px;
                text-shadow: 1px 1px 0 $color-shadow-one;
            }

            textarea {
                border-radius: 30px;
                resize: none;
                width: 70%;
            }
          
            label {
                display: block;
            }

            input, textarea {
                box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-shadow-one;
                margin-right: 8px;
                transition: all 0.2s ease-in-out;
              
                &:focus {
                  box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-shadow-one;

                  &::placeholder {
                      opacity: 0.5;
                      transition: 0.2s ease-in-out;
                  }
                }
            }

            button {
                box-shadow: -5px -5px 20px $color-shadow-one,  5px 5px 20px $color-shadow;
                color:$color-primary;
                cursor: pointer;
                display: block;
                font-weight: $font-weight-bold;
                height: 200px;
                transition: all 0.2s ease-in-out;
                width: 29%;
                
                &:hover {
                  box-shadow: -2px -2px 5px $color-shadow, 2px 2px 5px $color-shadow-one;
                }
                
                &:active {
                  box-shadow: inset 1px 1px 2px $color-shadow-one, inset -1px -1px 2px $color-shadow;
                }
              }
        }
    }
}