.hero {
    // @include flex(flex, row, wrap, space-between, center);

    background-color: $color-primary !important;
    padding: 5% 0;
    position: relative;

    &-text {
        color: $color-white;
        font-size: 38px;
        padding: 0 4%;
        // width: 60%;
    }

    &-menu {
        @include flex(flex, column, nowrap, space-around, center);

        background-color: $color-primary;
        height: inherit;
        // padding: 3%;
        position: absolute;
        right: 0;
        top: 0;
        transition: 1.35s ease-in-out;
        transform: translateX(0);
        // width: 35%;

        h1 {
            @include border-hover($color-primary, $color-white, 2px, 0.8s);

            color: $color-white;
            font-size: 32px;
        }

        &-list {
            @include flex(flex, column, nowrap, space-between ,center);
            @include list-reset;

            font-size: 24px;

            &-item {
                @include link-underline($color-white, 3px);
                
                margin-bottom: 10px;

                .link {
                    color: $color-white;
                }
            }
        }
    }
}