.tab {
    @include flex(flex, row, wrap, space-between, center);
    
    &-black {
        a {
            font-family: $font-light;
        }
        margin: 0px auto;
    }

    &-white {
        a {
            color: $color-white;
            font-family: $font-light;
        }
        margin: 0px auto;
    }
}