.tab {

    &-left, &-right {
        height: 90px;
        width: 100%;

        &-header {
            height: 100%;
            padding-top: 25px;
            text-align: center;
            width: 35%;
            
            a {
                font-size: 28px;
                font-weight: $font-weight-extrabold;
            }
        }
    }

    &-left {
        background-color: $color-background;
        

        &-header {
            background-color: $color-primary;
            float: left;

            a {
                color: $color-white;
            }
        }
    }   

    &-right {
        background-color: $color-primary;

        &-header {
            background-color: $color-background;
            float: right;

            a {
                color: $color-tab-text-right;
            }
        }
    }

    .slant {
        height: 0;
        width: 0;

        &-left {
            float: left;
            border-bottom: 90px solid $color-primary;
            border-right: 90px solid transparent;
        }

        &-right {
            float: right;
            border-bottom: 90px solid $color-background;
            border-left: 90px solid transparent;
        }

    }   
}