.header {
    &-nav {
        @include flex(flex, row, wrap, space-around, center);

        background-color: $color-background;
        box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
        padding: 3px;
        position: fixed;
        right: 0;
        top: 0;
        transition: 1.35s ease-in-out;
        transform: translateY(0);
        width: 100%;    
        z-index: 5;

        &-title {
            h3 {
                @include border-hover($color-black, $color-primary, 2px, 0.8s);
            }
        }
        
        &-list {
            @include flex(flex, row, wrap, space-around, center);
            @include list-reset;

            &-item {
                @include link-underline($color-primary, 3px);

                margin-left: 30px;

                .link {
                    font-size: 21px;
                }
            }
        }
    }
}