.main {
    background-color: $color-background;

    section:nth-of-type(even) {
        background-color: $color-background;
    }
    section:nth-of-type(odd) {
        background-color: $color-primary;
    }

    &-skills, &-about, &-projects, &-contact, &-form {
        min-height: 300px;
        padding: 70px 0;
    }

    &-skills {

        &-row {
            margin-bottom: 48px;
        }

        &-single {
            background: $color-background;
            border-radius: 5px;
            box-shadow: -5px -5px 20px $color-shadow-one,  5px 5px 20px $color-shadow;
            padding: 3px;
            text-align: center;
            min-height: 350px;
            margin: 0;
            h2 {
                color: $color-card-text;
            }
        }
    }

    &-about, &-contact {
        padding: 100px;
        
        
        &-text {
            font-size: 24px;
        }
    }
}
