.main {
    background-color: $color-primary;

    &-skills {
        @include flex(flex, row, wrap, space-around, center);

        background-color: $color-background;
        padding: 85px;

        &-single {
            background: $color-background;
            border-radius: 5px;
            box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
            padding: 3px;
            text-align: center;
            min-height: 250px;
            width: 250px;
        }
    }

    &-about {
        background: $color-primary;
        min-height: 500px;
        width: 100%;
    }
}
