.sidebar{
	&-navigation {
		left: 0;
		position: fixed;
		top: 50vh;
		transition: 1.35s ease-in-out;
		transform: translateX(0);
		
		&-social {
			@include flex(flex, column, nowrap, space-around, center);
			@include list-reset;
			
			background-color: $color-background;
			border-radius: 0px 5px 5px 0px;
			box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
			padding: 10px;
			
			li {
				a {
					.icon {
						font-size: 26px;

						&-github {
							color: $color-github;
						}
						
						&-linkedin {
							color: $color-linkedin;
						}
						
						&-twitter {
							color: $color-twitter;
						}
					}
				}
			}
		}
	}
}
