.js {
    &-hidden {

        &-up {
            transform: translateY(-3000px) !important; //?
        }

        &-right {
            transform: translateX(3000px) !important; //?
        }

        &-left {
            transform: translateX(-3000px) !important; //?
        }
    }
}